<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div id="container">
        <h1>Log In</h1>
        <form action="" method="post">
            <label for="">Account</label>
            <br>
            <input type="text">
            <br>
            <label for="">Password</label>
            <br>
            <input type="text" name="" id="">
            <br>
            
        </form>
        <button type="submit" id="btnres">Login</button>
        <br>
        <i>Nếu chưa có tài khoản nhấn vào <a href="/register">đăng ký!</a></i>
    </div>
    
</body>
</html>